* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 16px;
}
body {
  font-family: sans-serif;
  background-color: #7c73c0;
  padding: 20px;
}
.app {
  background-color: white;
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  border-radius: 5px;
}
.app-header {
  text-align: center;
  margin: 30px 0;
  color: #7c73c0;
  font-size: 3rem;
  font-weight: 900;
}
.auth {
  text-align: center;
  width: 300px;
  margin: 30px auto;
}
.auth button {
  padding: 10px 20px;
  background-color: #7c73c0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.users {
  margin: 5px 0;
  padding: 10px 5px;
  border: 1px solid #7c73c0;
}
.users-pic {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.users-pic img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.usersHeader {
  color: #7c73c0;
}
.chat {
  padding: 20px;
  border: 1px solid #7c73c0;
}
.messages {
  height: 50vh;
  overflow-y: scroll;
}
.room {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin: 10px;
}
.room img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.convo {
  background-color: #7c73c0;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #7c73c0;
  display: flex;
  flex-direction: column;
  max-width: 350px;
}
.convo .name {
  text-align: left;
  font-size: 1rem;
}
.convo .text {
  padding: 5px 5px;
  font-size: 0.9rem;
}
.convo .date {
  display: flex;
  justify-content: end;
  gap: 2px;
  text-align: right;
}
.date p {
  font-size: 0.6rem;
}
.form {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}
.form input {
  outline: none;
  padding: 10px 20px;
  border: 1px solid #7c73c0;
  background-color: white;
  color: black;
  font-size: 0.9rem;
  width: 80%;
  margin: 0 10px;
}
.form button {
  padding: 10px 20px;
  background-color: #7c73c0;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}
